[submodule "vim-code-dark"]
	path = vim-code-dark
	url = git@github.com:tomasiser/vim-code-dark.git
[submodule "YouCompleteMe"]
	path = YouCompleteMe
	url = git@github.com:ycm-core/YouCompleteMe.git
[submodule "tagbar"]
	path = tagbar
	url = git@github.com:preservim/tagbar.git
[submodule "vim-glsl"]
	path = vim-glsl
	url = git@github.com:tikhomirov/vim-glsl.git
