[submodule "vim-code-dark"]
	path = vim-code-dark
	url = git@github.com:tomasiser/vim-code-dark.git
[submodule "YouCompleteMe"]
	path = YouCompleteMe
	url = git@github.com:ycm-core/YouCompleteMe.git
[submodule "minimap.vim"]
	path = minimap.vim
	url = git@github.com:Mopp123/minimap.vim.git
